<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC-nvYDTaNTDM0_82uHoP3ZP2w2BQVJl5M</string>
	<key>GCM_SENDER_ID</key>
	<string>555843875907</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pdl</string>
	<key>PROJECT_ID</key>
	<string>medco-e2ba4</string>
	<key>STORAGE_BUCKET</key>
	<string>medco-e2ba4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:555843875907:ios:aec2803e32f34066bb50f6</string>
</dict>
</plist>